:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --title-text-color: #212121;
  --accent-color: #18a0fb;
  --button-color: #2196f3;
  --praymary-white-color: #ffffff;
  --secondary-gray-color: #2f303a;
  --text-white-color: #ffffff;
  --bg-color: #ffffff;
  --textarea-color: #757575;
  --test-color: #ccec12;
  --filter-color-text: #f5f4fa;
  --Web-span-text: #2196f3;
  --title-hover: #188ce8;
  --btn-bgr: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--firstFontColor);
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo a:hover,
.logo a:focus {
  color: var(--button-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}

.nav a {
  color: var(--title-text-color);
}

.nav a:hover,
.nav a:focus {
  color: var(--button-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}

.header {
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}

.header .logo {
  font-family: Raleway;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.menu-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
}

.nav-link.active::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--Web-span-text);
  position: absolute;
  bottom: 0px;
  left: 0;
  border-radius: 2px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--textarea-color);
}

.contact-link:hover,
.contact-link:focus {
  fill: currentColor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}

.contacts-link-icon {
  margin-right: 10px;
}

.herro {
  display: flex;
  justify-content: center;
}

.hero {
  background: var(--secondary-gray-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Imghero.jpg);
  padding: 200px 0px;
  width: 1600px;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: var(--text-white-color);
}

.hero > button {
  padding: 10px 32px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 700;
  line-height: 1;
  background: var(--button-color);
  color: var(--praymary-white-color);
}

.hero > button:hover,
.buttons:focus {
  background-color: #188ce8;
  color: var(--text-white-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}
/*# sourceMappingURL=main.css.map */