// .logo a:hover,
// .logo a:focus {
//   color: var(--button-color);
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   transition-property: transform;
// }
.nav {
  display: flex;
  align-items: center;

  & a {
    color: var(--title-text-color);
    &:hover,
    &:focus {
      color: var(--button-color);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: transform;
    }
  }
}
.header {
  border: 1px solid #ececec;
  & .logo {
    font-family: Raleway;
    color: var(--title-text-color);
    @include font(700, 26px, 1.19, 0.03em);
    // font-weight: 700;
    // font-size: 26px;
    // line-height: 1.19;
    // letter-spacing: 0.03em;
    text-decoration: none;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
}

.menu-logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  @include font(500, 14px, 1.14, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
  // letter-spacing: 0.02em;
  position: relative;
  &.active::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--Web-span-text);
    position: absolute;
    bottom: 0px;
    left: 0;
    border-radius: 2px;
  }
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  @include font(500, 14px, 1, 0.02em);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1;
  // letter-spacing: 0.02em;
  color: var(--textarea-color);
  &:hover,
  &:focus {
    fill: currentColor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
  }
}

.contacts-link-icon {
  margin-right: 10px;
}
