.team {
  background-color: #f5f4fa;
}
.team-caption {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.6;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-item {
  display: flex;
  justify-content: space-evenly;
}
.caption-team {
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: 0.03em;
  margin-top: 10px;
  text-align: center;
}
.caption-team-text {
  /*color: var(--textarea-color);*/
  font-weight: 400;
  line-height: 1.12;
  text-align: center;
  margin: 10px;
  /*margin-bottom: 30px;*/
}

.images {
  height: 260px;
  width: 270px;
}
.team-all {
  flex-basis: calc((100% - 90px) / 3);
  background: #ffffff;

  border-radius: 0px 0px 4px 4px;
}
.team-all + .team-all {
  margin-left: 30px;
}
