.master-icon {
  background-color: #ffffff;
}

.master__list {
  display: flex;
  justify-content: center;
}

.master__team {
  font-weight: 500;
  line-height: 1.12;
  letter-spacing: 0.03em;
  margin-top: 10px;
  text-align: center;
}
.master__text {
  /*color: var(--textarea-color);*/
  font-weight: 400;
  line-height: 1.12;
  text-align: center;
  margin: 10px;
  /*margin-bottom: 30px;*/
}

.social {
  width: 44px;
  height: 44px;
  margin-top: 16px;
  margin-bottom: 30px;
  & + & {
    margin-left: 10px;
  }
}
.social__link {
  width: 100%;
  height: 100%;
  background: var(--praymary-white-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  &:hover,
  &:focus {
    background-color: var(--Web-span-text);
    color: #ffffff;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
  }
}
.social__icon {
  fill: currentColor;
}
